# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# VSCode settings
.vscode/

# Streamlit cache
.streamlit/

# Logs and temporary files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Dataset (large, shouldn't be tracked in Git)
Mini-Project Dataset/
